{% extends 'base.html.twig' %}

{% block title %}BitCourse{% endblock %}

{% block body %}
  <nav>
    <div id="pln">-</div>
    <div id="eur">-</div>
    <div id="gbp">-</div>
    <div id="jpy">-</div>
    <div id="chf">-</div>
  </nav>
  <section>
    <p class="center">Bitcoin price</p>
    <table>
      <tr>
        <th colspan="2">Price</th>
        <th colspan="4">Change %</th>
      </tr>
      <tr>
        <td rowspan="2">Price</td>
        <td>Today</td>
        <td>Yesterday</td>
        <td>Week ago</td>
        <td>Month ago</td>
        <td>Year ago</td>
      </tr>
      <tr>
        <td id="usd">-</td>
        <td id="yesterday">-
        </td>
        <td id="weekago">-
        </td>
        <td id="monthago">-
        </td>
        <td id="yearago">-
        </td>
      </tr>
    </table>
    <canvas id="myChart" width="400" height="150"></canvas>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            '6M',
            '3M',
            '2M',
            '1M',
            '3W',
            '2W',
            '1W',
            '6D',
            '5D',
            '4D',
            '3D',
            '2D',
            '1D',
            'Today'
          ],
          datasets: [
            {
              label: 'Bitcoin price',
              data: [
                {{ chart.0 }},
                {{ chart.1 }},
                {{ chart.2 }},
                {{ chart.3 }},
                {{ chart.4 }},
                {{ chart.5 }},
                {{ chart.6 }},
                {{ chart.7 }},
                {{ chart.8 }},
                {{ chart.9 }},
                {{ chart.10 }},
                {{ chart.11 }},
                {{ chart.12 }},
                {{ chart.13 }},
              ],
              backgroundColor: ['rgba(111, 111, 111, 0.2)'],
              borderColor: [
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)',
                'rgba(247,147,26, 1)'
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    </script>
  </section>
  <footer>
    Updated (60 sec ): <span id="updated">-</span> second ago | <a href="/data">API</a> | Powered by <a href="https://www.coindesk.com/price/bitcoin">CoinDesk</a>
  </footer>
{% endblock %}
